<!doctype html>
<html lang="en">
    <head>
        {{> head }}
    </head>
    <body>
        <div id="app">{{{ reactOutput }}}</div>
        <script>
            window.__INITIALSTATE__ = {{{initialState}}}
        </script>
        {{> embeds script=true }}
    </body>
</html>