$gray: #24292e;
$lightgray: #3A4155;
$green: #00FF00;

$primary-text-colour : $gray;
$secondary-text-colour : $lightgray;
$border-colour:$green;

$default_font_family: 'Open Sans', sans-serif;
$normalWeight: 500;
$boldWeight:700;
$heavyWeight: 900;

$gutter:2%;
